body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#generator, #reader {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
}

label {
    display: block;
    margin-top: 20px;
    color: #555;
    font-weight: bold;
}

input[type="text"], input[type="number"], select, button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

img#qrImage {
    display: none;
    margin-top: 30px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

a#downloadLink {
    display: none;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

a#downloadLink:hover {
    background-color: #0056b3;
}

p {
    color: #777;
    margin-top: 15px;
    font-size: 16px;
}

input[type="file"] {
    display: none;
}

#fileDropArea {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
}

#fileDropArea.dragging {
    border-color: #007bff;
}

#fileDropArea:hover {
    border-color: #007bff;
}
